<div class="inner-wrap">
    <a class="title" href="#">{{name}}</a>
    <p>Description</p>
</div>
<div class="action-bar">
    <ul>
        <li class="comments">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span class="comments-link">Add to list</span></a>
        </li>
        <li class="share">
            <a href="#"><i class="fa fa-cutlery"></i></i><span>share</span></a>
        </li>
        <li class="like">
            <a href="#"><i class="fa fa-heart-o"></i><span>like</span></a>
        </li>
    </ul>
</div>
