<div class="card_image">
    <img src="{{image}}"
         alt="" class="image">
    <i class="material-icons favorite">
        favorite_border</i>
</div>
<div class="cardContent">
    <button class="cardContentButton"><i class="material-icons">add</i></button>
    <p class="cardContentName">{{name}}</p>

    <p class="cardContentJob">{{type}}</p>
    <div class="cardMenu">
      <div class="titleSocial">Ajouter à la liste</div>
    </div>
</div>
