<aside class="sidebar" role="navigation">
    <header class="sidebar-header-holder" data-region="sidebar-header"></header>
    <nav class="sidebar-nav-holder" data-region="sidebar-nav"></nav>
</aside>
<section class="wrapper">
    <header data-region="header"></header>
    <section class="main-app main-panel" data-region="main"></section>
    <section class="panel panel-fixed-down" data-region="bottom-panel"></section>
    <section class="panel panel-fixed-right" data-region="right-panel"></section>
    <footer data-region="footer"></footer>
</section>

