<aside class="sidebar" role="navigation">
    <header class="sidebar-header-holder" data-region="sidebar-header"></header>
    <nav class="sidebar-nav-holder" data-region="sidebar-nav"></nav>
</aside>
<section class="wrapper">
    <header data-region="header"></header>
    <section class="main-app" data-region="main"></section>
    <footer data-region="footer"></footer>
</section>

